
doctype
html(lang="en")
  head
    meta(charset="utf-8")
    title= "Главная страница"
    link(rel='stylesheet', href='../app/css/main.css')
  body
      header            
      div.content
      footer